<header class=" sticky-top header">
    <div class="overlay has-fade"></div>

    <nav class="container container--pall flex flex-jc-sb flex-ai-c">
      <a href="/" class="header__logo">
        <img src="../../assets/fem-easybank-master_2/fem-easybank-master/images/logo.svg" alt="Easybank" />
      </a>

      <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
        <span></span>
        <span></span>
        <span></span>
      </a>

      <div class="header__links hide-for-mobile">
        <a href="#">Home</a><a href="#">About</a><a href="#">Contact</a
        ><a href="#">Blog</a><a href="#">Careers</a>
      </div>

      <a href="#" class="button header__cta hide-for-mobile"
        >Request Invite</a
      >
    </nav>

    <div class="header__menu has-fade">
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Contact</a>
      <a href="">Blog</a>
      <a href="">Careers</a>
    </div>
  </header>

