.footer {
    background-color: #2d314d;
    color: white;
    padding: 2.5rem;
    text-align: center;
  }
  @media (min-width: 64em) {
    .footer .container {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 3fr;
      grid-template-rows: 1fr auto;
      grid-template-areas: "logo links1 links2 cta" "social links1 links2 copyright";
      gap: 1rem;
      justify-items: start;
    }
  }
  .footer a {
    color: white;
  }
  .footer__logo {
    display: inline-block;
  }
  @media (max-width: 63.9375em) {
    .footer__logo {
      margin-bottom: 1.875rem;
    }
  }
  @media (min-width: 64em) {
    .footer__logo {
      grid-area: logo;
    }
  }
  @media (max-width: 63.9375em) {
    .footer__social {
      margin-bottom: 1.875rem;
    }
  }
  @media (min-width: 64em) {
    .footer__social {
      grid-area: social;
      align-self: end;
    }
  }
  .footer__social a {
    display: inline-block;
    height: 1.25rem;
  }
  .footer__social a svg path {
    transition: fill 150ms ease-in-out;
  }
  .footer__social a:hover svg path {
    fill: #31d35c;
  }
  .footer__social a:not(:last-child) {
    margin-right: 1rem;
  }
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9375rem;
  }
  @media (min-width: 64em) {
    .footer__links {
      justify-content: space-between;
      align-items: start;
    }
  }
  @media (min-width: 64em) {
    .footer__links.col1 {
      grid-area: links1;
    }
  }
  @media (max-width: 63.9375em) {
    .footer__links.col2 {
      margin-bottom: 1.875rem;
    }
  }
  @media (min-width: 64em) {
    .footer__links.col2 {
      grid-area: links2;
    }
  }
  .footer__links a {
    line-height: 2.25;
    transition: color 150ms ease-in-out;
  }
  .footer__links a:hover {
    color: #31d35c;
  }
  @media (min-width: 64em) {
    .footer__cta {
      grid-area: cta;
      text-align: right;
      justify-self: end;
    }
  }
  @media (max-width: 63.9375em) {
    .footer__cta a.button {
      margin-bottom: 1.875rem;
    }
  }
  .footer__copyright {
    font-size: 0.8125rem;
    color: #9698a6;
  }
  @media (min-width: 64em) {
    .footer__copyright {
      grid-area: copyright;
      align-self: end;
      justify-self: end;
    }
  }
  .footer .attribution {
    margin-top: 4rem;
    font-size: 0.875rem;
  }