.feature {
    background-color: #f3f4f6;
    text-align: center;
  }
  @media (min-width: 40em) {
    .feature {
      text-align: left;
    }
  }
  .feature__intro {
    margin-bottom: 3.75rem;
  }
  @media (min-width: 64em) {
    .feature__intro {
      width: 60%;
    }
  }
  @media (min-width: 40em) {
    .feature__grid {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .feature__item {
    padding: 0.9375rem;
  }
  @media (min-width: 40em) {
    .feature__item {
      flex: 0 0 50%;
    }
  }
  @media (min-width: 64em) {
    .feature__item {
      flex: 1;
    }
  }
  .feature__icon {
    margin-bottom: 1.875rem;
  }
  @media (min-width: 64em) {
    .feature__icon {
      margin-bottom: 2.75rem;
    }
  }
  .feature__title {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.15;
    color: #2d314d;
    margin-bottom: 1rem;
  }
  @media (min-width: 64em) {
    .feature__title {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
  .feature__description {
    font-size: 0.875rem;
    line-height: 1.5;
  }
  
  