.hero {
    background-color: #fafafa;
  }
  @media (min-width: 64em) {
    .hero .container {
      display: flex;
      align-items: center;
    }
  }
  .hero__image {
    position: relative;
    background-image: url("/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
  }
  @media (min-width: 40em) {
    .hero__image {
      min-height: 25rem;
      background-position: center 70%;
    }
  }
  @media (min-width: 64em) {
    .hero__image {
      flex: 3;
      order: 2;
      height: 41rem;
      background-image: none;
    }
  }
  @media (min-width: 64em) {
    .hero__image::before {
      content: "";
      position: absolute;
      height: 100%;
      background-image: url("../../assets/fem-easybank-master_2/fem-easybank-master/images/bg-intro-desktop.svg");
      background-repeat: no-repeat;
      background-position: center bottom;
      width: 150%;
      background-size: 122%;
      background-position: 0% 83%;
    }
  }
  .hero__image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/fem-easybank-master_2/fem-easybank-master/images/image-mockups.png");
    background-size: 93%;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  @media (min-width: 40em) {
    .hero__image::after {
      background-size: 52%;
    }
  }
  @media (min-width: 64em) {
    .hero__image::after {
      width: 120%;
      height: 122%;
      background-size: 94%;
      background-position: center 150%;
      left: 22%;
    }
  }
  .hero__text {
    text-align: center;
  }
  @media (min-width: 64em) {
    .hero__text {
      flex: 2;
      order: 1;
      text-align: left;
    }
  }
  
  